.interfaz-home{
    background-color: white;
}

.titulo{
    color: whitesmoke;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: black;

}

.contenido{
    background-color: rgb(95,0,0);
    margin-bottom: 35px;
    align-items: center;
}

.parrafo{
    margin-left: 15px;
    font-size: large;
    color: black;
    font-weight: bold;
}

.cuadro-sedes{
    margin-bottom: 35px;
    
}

.cuadro{
    align-items: center;
}

.sedes{
    border: 2px;
    border-style:groove;
    border-radius: 5px;
    border-color: black;
    margin-left: 20px;
    margin-right: 50%;
    margin-bottom: 35px;
    background-color: brown;
}

.sede{
    margin-top: 10px;
    margin-bottom: 10px;
    color: grey;
    font-weight: bold;
}

